* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--app-bg-color: #daf0ff;

	--calculator-bg-color: #17181a;
	--calculator-box-shadow: #006bb5;

	--result-text-color: white;
	--result-span-text-color: #109dff;

	--clear-bg-color: #616161;
	--clear-text-color: #a5a5a5;

	--op-bg-color: #005db2;
	--op-text-color: #339dff;

	--equal-bg-color: #1991ff;
	--equal-text-color: #b2daff;

	--number-bg-color: #303036;
	--number-text-color: #29a8ff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--app-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

.calculator {
	border-radius: 39px;
	background-color: var(--calculator-bg-color);
	padding: 33px;
	box-shadow: 40px 20px 80px 0 var(--calculator-box-shadow);
}

.calculator .result {
	max-width: calc(60px * 4 + 20px * 3);
	height: 55px;
	margin: 60px 0;
	font-size: 3rem;
	overflow: hidden;
	color: var(--result-text-color);
	display: flex;
	justify-content: flex-end;
}

.calculator .result span {
	color: var(--result-span-text-color);
}

.calculator .buttons {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(5, 60px);
	height: 75%;
}

.calculator .buttons button {
	border: none;
	border-radius: 16px;
	font-size: 24px;
	transition: 200ms linear;
}

.calculator .buttons button.clear {
	background-color: var(--clear-bg-color);
	color: var(--clear-text-color);
}

.calculator .buttons button.op {
	background-color: var(--op-bg-color);
	color: var(--op-text-color);
}

.calculator .buttons button.equal {
	background-color: var(--equal-bg-color);
	color: var(--equal-text-color);
}

.calculator .buttons button.number {
	background-color: var(--number-bg-color);
	color: var(--number-text-color);
}

.calculator .buttons button.number.zero {
	grid-column: span 2;
}

.calculator .buttons button.equal {
	grid-row: span 2;
}

.calculator .buttons button.dark {
	filter: brightness(0.8);
}
